html{background-image: url('https://images.saymedia-content.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:eco%2Cw_1200/MTc0NDMzMzYxNjgxNzIwNjgw/top-10-free-sheet-music-websites.jpg')}
body{
  background-color: #555555;
  color: #ffffff;
  font-family: "sans-serif", arial, sans;
  margin: 10% 15%;
}

ul{
  position: relative;
  right:10px
}
p{
  position: relative;
  left:10px;
}
h4{
  position: relative;
  left:10px
}
h5{
  position: relative;
  left:10px
}
h6{
  position: relative;
  left:10px
}
.violinimg{
  text-align: center;
  position: relative;
  top: 10px
}
.name{
  text-align: center;
}

.exp-header{
  
  text-align: center
  
}
.edu-header{
  text-align:center
}
.video{
  text-align:center
}
